<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- NAV -->
    <%- include('./partials/nav.ejs') %> 
    <!-- /NAV -->
    <div class="container">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">shopping_cart</i>
              <input
                id="item_prefix"
                type="text"
                class="validate"
                name="name"
              />
              <label for="item_prefix">Item Name</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">request_quote</i>
              <input id="price" type="tel" class="validate" />
              <label for="price">Price</label>
            </div>
          </div>
          <button class="btn">Add Item</button>
        </form>
      </div>
    </div>
  </body>
</html>
